## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
7**4

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
s="Hi there Sam!"
x=s.split()
print(x)

In [3]:
s="Hi there dad!"
x=s.split()
print(x)

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [4]:
planet="Earth"
diameter=12742

In [5]:
print("The diameter of "+str(planet),"is",diameter,"Kilometers.")

The diameter of Earth is 12742 Kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [6]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
a=lst[3][1][2]
print(a)

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [7]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]["tricky"][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [38]:
#Tuple is immmutable.                           List is mutable.                                    
#Tuple consumes less memory.                    List consumes more memory.
#Tuple does not have much built-in methods.     Lists have several built-in methods.

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [12]:
def domainGet(email):
  return email.split('@')[-1]

In [13]:
domainGet('user@domain.com')

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [15]:
def findDog(str):
  if 'dog' in str.lower():
    print("True")
  else:
    print("False")
str="Jacky is my dog"
findDog(str)

True

In [16]:
findDog('Jacky is my dog')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [26]:
def wordcount(str):
  count=0
  for word in str.lower().split():
    if word=='dog':
      count+=1
  return count

In [27]:
wordcount('My dog is very brilliant,but he used to get mad when he saw other dog in street')

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [30]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [31]:
caught_speeding(81,False)

'Big Ticket'

In [32]:
caught_speeding(81,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [35]:
employees = ["Sona","Ramu","Manu","Teju","Suja"]
salary={}
for emp in employees:
  try:
    amount=int(input(f'Enter salary for {emp}: '))
    salary[emp]=amount
  except ValueError:
    print(f'Wrong salary input for {emp} ')
print(salary)
print('Total Salary Expenditure : ',sum(salary.values()))

Enter salary for Sona: 12000
Enter salary for Ramu: 15000
Enter salary for Manu: 18000
Enter salary for Teju: 20000
Enter salary for Suja: 25000
{'Sona': 12000, 'Ramu': 15000, 'Manu': 18000, 'Teju': 20000, 'Suja': 25000}
Total Salary Expenditure :  90000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [37]:
dict_1={'Empid':100,'Empname':'Dharsana','Basicpay':16000}
dict_2={'DeptName': 'Testing','DeptID':'T0013'}
dict_1.update(dict_2)
print("Combined Dictionary is:")
print(dict_1)

Combined Dictionary is:
{'Empid': 100, 'Empname': 'Dharsana', 'Basicpay': 16000, 'DeptName': 'Testing', 'DeptID': 'T0013'}