## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
print(7**4)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
s="Hi there Sam!"
x=s.split()

In [ ]:
print(x)

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
str="The diameter of {planet} is {diameter} kilometers.".format(planet= "Earth",diameter=12742)

In [ ]:
print(str)

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
print(lst[3][1][2][0])

hello

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
print(d['k1'][3]['tricky'][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [ ]:
tuples are immutable whereas lists which are mutable

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
def domain(name):
  res=name.split('@',1)
  res1=res[1]
  print(res1)

In [ ]:
domain("user@domain.com")

domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
def check(str):
  str1="dog"
  str2=str.lower()
  if str1 in str2:
    print("True")
  else:
    print("False")

In [ ]:
check("There is a dog.")

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
def countdog(s):
  count=0
  for s1 in s.lower().split():
    if s1=="dog":
      count=count+1
  
  return count

In [ ]:
countdog("There is a dog and it is a cute DOG")

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
caught_speeding(90,True)

'Big Ticket'

In [ ]:
caught_speeding(70,False)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [ ]:
employee=["Jose ","John ","Jane ","Jael ","Joel "]
bp=[8000,13500,15000,9000,10500]
total=[]
for i in bp:
    da=0
    hra=0
    cta=0
    gross=0
    da = 20 / 100.0 *i;
    hra = 10 / 100.0 *i;
    cta = 12 / 100.0 * i;
    gross = i + da + hra + cta;
    total.append(gross)
res = "\n".join("{} {} {}".format(x, y, z) for x, y, z in zip(employee, bp, total))
print(res)

Jose  8000 11360.0
John  13500 19170.0
Jane  15000 21300.0
Jael  9000 12780.0
Joel  10500 14910.0

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [ ]:

def Merge(dict1, dict2):
	return(dict2.update(dict1))

dict1 = {'Empid': 11, 'Empname': "Gifty Sharon",'Basicpay':25000}
dict2 = {'DeptName': "HR", 'DeptId': 101}

print(Merge(dict1, dict2))

print(dict2)

None
{'DeptName': 'HR', 'DeptId': 101, 'Empid': 11, 'Empname': 'Gifty Sharon', 'Basicpay': 25000}